.box{width: 400px;
    height: 400px;
    background-color: burlywood;
    border: 2px solid brown;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition:all 2s linear   ;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    /* transform: rotate(180deg); */
    /* transform: scale(2); */
    /* transform: translateX(500px);
    transform: translateY(500px); */
    transform: translate(200px,200px);
    }
p{font-size:36px ;}