a{text-decoration: none;color: white;}
ul{background-color: cadetblue;display: flex;justify-content: space-evenly;height: 20px;}

li{
    list-style-type: none;
}

.outer{
    height: 400px;width: 400px;background-color: rgb(62, 4, 255);display: flex;justify-content: center;align-items: center;

}
.inner{
    height: 100px;width: 100px;background-color: rgb(139, 208, 231);
}   