* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

}



#title {
    padding: 10px;
    text-align: center;
}


#abouttitle {
    text-align: center;
    max-width: 60%;
    padding-bottom: 30px;
    margin: auto;
    color: rgb(86, 34, 17);
}

.content {
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    margin: 0 auto;
    padding-right: 10vw;
    padding-left: 10vw;
}
@media(min-width:650px){
    .content{
    grid-template-columns: repeat(2, 1fr);
    width: 90vw;
    
    
}}
@media (max-width: 650px) {
    .content {
        width: 90vw; 
        display: grid; 
        grid-template-columns: repeat(1, 1fr); 
        justify-content: center;
        padding-top: 3rem; 
    }

}
@media(min-width:1080px){
    .content{
    grid-template-columns: repeat(3, 1fr);}

}
@media(min-width:1340px){
    .content{
    grid-template-columns: repeat(4, 1fr);}

}

#article {
    border: 0px solid rgba(93, 91, 91, 0.75);
    border-radius: 10px;
    overflow: hidden;
    height: 45vh;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#article:hover {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
}


img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.05);
}


.text {
    display: flex;
    flex-direction: column;
    padding: 0.8rem;

}

h2 {
    font-size: 1.1rem;
    padding-bottom: 0.25rem;
    color: #333;
}

p {
    padding-bottom: 1rem;
    color: #555;
    height: 3rem;
}


.cardfooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
    border-top: 1px solid #ddd;
}


.author {
    background-image: url(im.jpeg);
    background-size: cover;
    background-position: center;
    border: 2px solid white;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


#name {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#nametext {
    color: rgba(110, 26, 189, 0.8);
    font-weight: 600;
}

.date {
    font-size: 0.7rem;
    color: gray;
}


.tag {
    background-color: #007bff;
    color: white;
    font-size: 0.8rem;
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: 500;
    border: none;
}






