div{height: 100px;width: 100px;border-style: solid;border-color: cadetblue;text-align: center;padding-left: 20px;}

h1{background-color: rgb(226, 17, 17);border-style: dotted;border-color: black;text-align: center;width: 150px;}