#navbar{margin: 0px; padding: 0px; background-color: #0f1111;height:60px ;}
a{text-decoration: none;color:white;margin-right: 200px;}
#logo{font-size: 25px;padding-left: 20px;color: #f08804;}
p{margin: 0px 0px 0px 0px ;}
#content{margin: 0px;padding: 0px; height: 500px;background-color:white ; }
#footer{height:200px;background-color:#0f1111 ;text-align: center;color: #fcf7f8;}
button{background-color: #f08804;color: white;}