/* #box1{
    height: 100px;width: 100px;background-color: cornflowerblue;margin: 0px;padding: 0px;font-size: 10px;
}
#box2{height: 50px;width: 30px;background-color: darkblue;font-size: 2rem;} */

div{height: 100px;width: 100px;background-color: coral;border: 2px solid black;display: inline-block;}
#box1{position: static;top: 10px;}
#box2{position: sticky;top: 20px;}
#box3{position: absolute;top: 10px;}
#box4{position: fixed;top: 10px;left: 10px;}